*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* --------------------------------- */
.landing{
    max-width: 100wh;
    
color: aliceblue;
text-align: center;

}
.landing-content{
    max-width: 50%;
     margin: 0 auto;
}
.landing-content > h2{
    font-size: 50px;
    color: black;
    line-height: 65px;
    padding-bottom: 20px;
    font-weight: 400;
}
.landing-content > p{
    font-size: 18px;
    color: black;
    padding-bottom: 20px;
}
.button{
    background-color: #ff2759 !important;
    font-size: 18px !important;
    width: 22%; 
}
/* media query */
@media (min-width: 320px) and (max-width:450px) {
    .landing-content{
        max-width: 80%;
         margin: 20px auto;
    }
    .landing-content > h2{
        font-size: 30px !important;
        
        line-height: 35px;
        font-weight: 500;
    }
    .landing-content > p{
        font-size: 17px;
        color: black;
        padding-bottom: 20px;
    }
    .button{
        background-color: #ff2759 !important;
        font-size: 18px !important;
        width: 60%; 
    }
}


@media (min-width: 451px) and (max-width:780px) {
    .landing-content{
        max-width: 80%;
         margin: 20px auto;
    }
    .landing-content > h2{
        
        font-size: 40px !important;
        color: black;
        
        line-height: 35px;
        font-weight: 400;
    }
    .landing-content > p{
        font-size: 17px;
        color: black;
        padding-bottom: 20px;
    }
    .button{
        background-color: #ff2759 !important;
        font-size: 18px !important;
        width: 30%; 
    }
}


@media (min-width: 781px) and (max-width:1050px) {
    .landing-content{
        max-width: 90%;
         margin: 20px auto;
    }
    .landing-content > h2{
        font-size: 50px !important;
        
        color: black;
        line-height: 55px;
        font-weight: 400;
    }
    .landing-content > p{
        font-size: 19px;
        color: black;
        padding-bottom: 20px;
    }
    .button{
        background-color: #ff2759 !important;
        font-size: 18px !important;
        width: 30%; 
    }
}

/* media query */

/* --------------------------------- */
.second{
    max-width: 100wh;
    margin-top: 150px;
    
}
.second-content{
    max-width: 30%;
    margin: 0 auto;
    
    text-align: center;
}
.second-content > h4{
    font-size: 30px;
    color: gray;
}
.second-content > div{
    font-size: 20px;
    color: #ff2759;
}
/* media query */
@media (min-width: 320px) and (max-width:450px) {
    .second{
        margin-top: 50px;  
    }
    .second-content{
        max-width: 80%;
        margin: 0 auto;
        text-align: center;
    }
}
@media (min-width: 451px) and (max-width:780px) {
    .second{
        margin-top: 40px;  
    }
}
@media (min-width: 781px) and (max-width:1050px) {
    .second{
        margin-top: 100px;  
    }
}

/* media query */
.third{
    max-width: 100wh;
    
}
.third-content{
    max-width: 70%;
    margin: 0 auto;
}
.third-content > h3{
    font-size: 22px;
    color: #ff2759;
}
.third-content > h3 > span{
    font-size: 13px;
    color: gray;
    background-color:  rgb(236, 233, 233);
    padding: 0 8px;
    padding-bottom: 3px;
    border-radius: 15px;
    
}
/* media query */
@media (min-width: 320px) and (max-width:450px) {
    .third-content{
        max-width: 90%;
        margin: 0 auto;
        margin-top: 15px;
    }
}
@media (min-width: 451px) and (max-width:780px) {
    .third-content{
        max-width: 90%;
        margin: 0 auto;
        margin-top: 20px;
    }
}
@media (min-width: 781px) and (max-width:1050px) {
    .third-content{
        max-width: 95%;
        margin: 0 auto;
        margin-top: 20px;
    }
    .third-content > h3{
        font-size: 20px;
        color: #ff2759;
        padding-left: 13px;
    }
}

/* media query */
/* --------------------------------- */
.fourth{
    max-width: 100wh;
    /* background-color: aqua; */

}
.fourth-content{
   max-width: 72%;
   margin: 0 auto;
}
.row{
    padding: 10px 10px; 
}
.card{
    border-radius: 12px !important;
}
.card > a:hover{
    text-decoration: none;
}
.card-body{
    
    padding-bottom: 1px !important;
}
.fourth-last{
    display: flex;
    justify-content: space-between;
}
.card-title{
    color: #ff2759;
}
.card-subtitle{
    font-weight:400 ;
}
.card-text{
    font-weight:400 ;
}
/* media query */
@media (min-width: 320px) and (max-width:450px) {
    .fourth-content{
        max-width: 95%;
        margin: 0 auto;
     }
     .card-title{
        color: #ff2759;
        font-size: 18px;
    }
    .card-text{
        font-weight:400 ;
        font-size: 16px !important;
    }
    .card{
        margin-bottom: 10px;
    }
    .card-body{
    
        padding:10px 10px !important;
    }
    .row{
        margin-bottom: -20px !important;
    }
}


@media (min-width: 451px) and (max-width:780px) {
    .fourth-content{
        max-width: 95%;
        
        margin: 0 auto;
     }
     .card-title{
        color: #ff2759;
        font-size: 18px;
    }
    .card-text{
        font-weight:400 ;
        font-size: 16px !important;
    }
    .card{
        margin-bottom: 10px;
        
    }
    .card-body{
    
        padding:10px 10px !important;
    }
    .row{
        margin-bottom: -20px !important;
    }
}


@media (min-width: 781px) and (max-width:1050px) {
    .fourth-content{
        max-width: 95%;
        
        margin: 0 auto;
     }
     .card-title{
        color: #ff2759;
        font-size: 18px;
    }
    .card-text{
        font-weight:400 ;
        font-size: 16px !important;
    }
    .card{
        margin-bottom: 10px;
        min-height: auto;
        
    }
    .card-body{
    
        padding:10px 10px !important;
    }
    .row{
        margin-bottom: -20px !important;
    }
}


/* media query */
/* --------------------------------- */




.fifth{
    max-width: 100wh;
    margin-top: 60px;
    text-align: center;
    margin-bottom: 10px;
}
.fifth-content{
    max-width: 10%;
    margin: 0 auto;
    font-size: 17px;
    color: #ff2759;
}
.fifth > span{
    color: gray;
    font-size: 25px;
}
.fifth > a{
    text-decoration: none;
    cursor: pointer;
}
.fifth > a:hover {
    color: #ff2759;
}
/* media query */
@media (min-width: 320px) and (max-width:450px) {
    .fifth{
        max-width: 100wh;
        margin-top: 30px;
        text-align: center;
        margin-bottom: 10px;
    }
    .fifth-content{
        max-width: 40%;
        margin: 0 auto;
        font-size: 15px;
        color: #ff2759;
    }
    
}


@media (min-width: 451px) and (max-width:780px) {
    .fifth{
        max-width: 100wh;
        margin-top: 30px;
        text-align: center;
        margin-bottom: 10px;
    
    }
    .fifth-content{
        max-width: 40%;
        margin: 0 auto;
        font-size: 15px;
        color: #ff2759;
    }
}


@media (min-width: 781px) and (max-width:1050px) {
    
}

/* media query */
/* --------------------------------- */
.sixth{
    max-width: 100wh;
    text-align: center;
    background-color: #f8f3f4;
    border-top: 1px solid #dcdadb;
}
.sixth-content{
    max-width: 20%;
    margin: 0 auto;
    padding: 30px 0;
}
.sixth-content > a{
    font-size: 20px;
    text-decoration: none;
    color: black;
    font-weight: 800px !important;
}
.sixth-content > a:hover{
    color: #ff2759;
}
/* media query */
@media (min-width: 320px) and (max-width:450px) {
    .sixth-content{
        max-width: 80%;
        margin: 0 auto;
        padding: 30px 0;
    }
    .sixth-content > a{
        font-size: 18px;
        text-decoration: none;
        color: black;
        
    }
}


@media (min-width: 451px) and (max-width:780px) {
    .sixth-content{
        max-width: 80%;
        margin: 0 auto;
        padding: 30px 0;
    }
    .sixth-content > a{
        font-size: 18px;
        text-decoration: none;
        color: black;
        
    }
}


@media (min-width: 781px) and (max-width:1050px) {
    .sixth-content{
        max-width: 80%;
        margin: 0 auto;
        padding: 30px 0;
    }
    .sixth-content > a{
        font-size: 18px;
        text-decoration: none;
        color: black;
        
    }
}

/* media query */
/* --------------------------------- */
/* second page ------------------------------------------------------------------------------------------------------------------------ */

.seven{
    max-width: 100wh;
    text-align: center;
}
.seven-content{
    max-width: 50%;
    margin: 0 auto;
}
.seven-content > p{
font-size: 18px;
}
.seven-content > p > span{
    font-size: 16px;
    font-weight: 400;
    }
    /* media query */
@media (min-width: 320px) and (max-width:450px) {
    .seven{
        max-width: 100wh;
        text-align: center !important;
        
    }
    .seven-content{
        max-width: 70%;
    }
}


@media (min-width: 451px) and (max-width:780px) {
    .seven{
        max-width: 100wh;
        text-align: center !important;
        
    }
    .seven-content{
        max-width: 70%;
        letter-spacing: 1px;
    }
}


@media (min-width: 781px) and (max-width:1050px) {
    .seven{
        max-width: 100wh;
        text-align: center !important;
        
    }
    .seven-content{
        max-width: 70%;
        letter-spacing: 1px;
    }
}

/* media query */
/* --------------------------------- */
.eight{
    max-width: 100wh;
    text-align: center;
    margin-top: 10px;
}
.eight-content{
    max-width: 25%;
    margin: 0 auto;
    
}
.eight-content1{
    display: flex;
    justify-content: space-around;
}

.button1 > a{
    padding: 5px 10px;
    color: white !important;
    text-decoration: none !important;
    font-weight: 500;
    font-size: 18px;
}
.button2 > a{
    padding: 5px 10px;
    color: black !important;
    text-decoration: none !important;
    font-weight: 500;
    font-size: 18px;
}
.button2{
    background-color: transparent !important;
    border: 1px solid black !important;
}
.button2:hover{
    background-color: #a81437 !important;
}
.button1{
    border: none;
}
.eight-content2{
    margin: 20px 20px;
}
.eight-content2 > i{
width: 30px ;
height: 30px;
border: 1px solid black;
border-radius: 40px;
padding: 6px 5px;
margin: 0 5px;
}
/* media query */
@media (min-width: 320px) and (max-width:450px) {
    .eight-content{
        max-width: 80%;
        margin: 0 auto ;   
    }
    .eight-content1{
        display: flex;
        flex-direction: column;
        justify-content: center !important;
        margin: 0 auto;
    }
    .button1{
        margin-bottom: 10px;
    }
    .button1 > a{
        padding: 3px 5px;
        color: white !important;
        text-decoration: none !important;
        font-weight: 500;
        font-size: 16px;
    }
    .button2 > a{
        padding: 5px 10px;
        color: black !important;
        text-decoration: none !important;
        font-weight: 500;
        font-size: 16px;
    }
    .eight-content1{
        max-width: 70%;
        
    }
    .eight-content2{
        margin: 20px 20px;
    }
    .eight-content2 > i{
        width: 30px ;
        height: 30px;
        border: 1px solid black;
        border-radius: 40px;
        padding: 6px 5px;
        margin: 0 1px;
        }
}


@media (min-width: 451px) and (max-width:780px) {
    .eight-content{
        max-width: 80%;
        margin: 0 auto ;   
    }
    .eight-content1{
        display: flex;
        flex-direction: row;
        justify-content: center !important;
        margin: 0 auto;
       
    }
    .button1{
        margin-right: 10px;
        
    }
    .button1 > a{
        padding: 3px 5px;
        color: white !important;
        text-decoration: none !important;
        font-weight: 500;
        font-size: 16px;
    }
    .button2 > a{
        padding: 5px 10px;
        color: black !important;
        text-decoration: none !important;
        font-weight: 500;
        font-size: 16px;
    }
    .eight-content1{
        max-width: 70%;
        
    }
    .eight-content2{
        margin: 20px 20px;
    }
    .eight-content2 > i{
        width: 30px ;
        height: 30px;
        border: 1px solid black;
        border-radius: 40px;
        padding: 6px 5px;
        margin: 0 1px;
        }
}


@media (min-width: 781px) and (max-width:1050px) {
    .eight-content{
        max-width: 80%;
        margin: 0 auto ;   
    }
    .eight-content1{
        display: flex;
        flex-direction: row;
        justify-content: center !important;
        margin: 0 auto;
       
    }
    .button1{
        margin-right: 10px;
        
    }
    .button1 > a{
        padding: 3px 5px;
        color: white !important;
        text-decoration: none !important;
        font-weight: 500;
        font-size: 16px;
    }
    .button2 > a{
        padding: 5px 10px;
        color: black !important;
        text-decoration: none !important;
        font-weight: 500;
        font-size: 16px;
    }
    .eight-content1{
        max-width: 70%;
        
    }
    .eight-content2{
        margin: 20px 20px;
    }
    .eight-content2 > i{
        width: 30px ;
        height: 30px;
        border: 1px solid black;
        border-radius: 40px;
        padding: 6px 5px;
        margin: 0 1px;
        }
}

/* media query */
/* --------------------------------- */
.nine{
    max-width: 100wh;
   
}
.nine-content{
    max-width: 70%;
    margin: 0 auto;
    padding-bottom: 15px;
    border-bottom: 1px solid rgb(225, 220, 220);
}
.nine-content > a{
    text-decoration: none;
    color: #ff2759;
}
.nine-content > a:hover{
    
    color: #ff2759;
}
.nine-content >  span{
    color: grey;
}
/* media query */
@media (min-width: 320px) and (max-width:450px) {
    .nine-content{
        max-width: 90%;
        margin: 0 auto;
        padding-bottom: 15px;
        border-bottom: 1px solid rgb(225, 220, 220);
    }
}
@media (min-width: 451px) and (max-width:780px) {
    .nine-content{
        max-width: 90%;
        margin: 0 auto;
        padding-bottom: 15px;
        border-bottom: 1px solid rgb(225, 220, 220);
    }
}
@media (min-width: 781px) and (max-width:1050px) {
    .nine-content{
        max-width: 90%;
        margin: 0 auto;
        padding-bottom: 15px;
        border-bottom: 1px solid rgb(225, 220, 220);
    }
}
/* media query */
/* --------------------------------- */
.ten{
    max-width: 100wh;
    margin-top: 15px;
}
.ten-content{
    max-width: 70%;
    margin: 0 auto;
    display: flex;
}
.ten-content1{
    max-width: 70%;
    margin-right: 10px;
    padding-right: 60px;
    /* border-right: 1px solid rgb(225, 220, 220); */
    line-height: 28px;
    
}
.ten-content1 > h4{
    color: #ff2759;
}
.ten-content1 > ul > li{
    color: grey;
}
.ten-content1 > p{
    color: grey;
}
.ten-content2 > h4{
    color: #ff2759;
}
.ten-content2 > div > div{
    color: grey;
}
.ten-content2{
    max-width: 20%;
    padding-left: 30px;
}
.button3 > a{
    padding: 5px 10px;
    color: white !important;
    text-decoration: none !important;
    font-weight: 500;
    font-size: 20px; 
}
.button3{
    margin-top: 20px !important;
}
/* media query */
@media (min-width: 320px) and (max-width:450px) {
    .ten{
        max-width: 100wh;
        margin-top: 15px;  
        position: relative;
    }
    .ten-content{
        max-width: 90%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;  
    }
    .ten-content1{
        max-width: 100%;
        line-height: 23px;
        margin: 0 auto;
        text-align:justify !important;
    }
    
    .ten-content1 > ul > li{
        font-size: 15px;
        margin-right: -25px;
    }
    .ten-content1 >p{
        font-size: 15px;
        margin-right: -50px;
    }
    .ten-content1 > button{
        max-width: 60%;
        margin-bottom: 20px;
        position: absolute;
        bottom: 0px;
    }
    .ten-content2{
        max-width: 100%;
        line-height: 23px;
        padding-left: 0px;
        text-align: left !important;
       margin-top: 10px;
       margin-bottom: 70px;
    }
}


@media (min-width: 451px) and (max-width:780px) {
    .ten{
        max-width: 100wh;
        margin-top: 15px;  
        position: relative;
    }
    .ten-content{
        max-width: 90%;
        margin: 0 auto;
         
    }
}


@media (min-width: 781px) and (max-width:1050px) {
    .ten{
        max-width: 100wh;
        margin-top: 15px;  
        position: relative;
    }
    .ten-content{
        max-width: 90%;
        margin: 0 auto;
         
    }
}

/* media query */
/* --------------------------------- */
.eleven{
max-width: 100wh;
margin-top: 20px;

}
.eleven-content{
    max-width: 60%;
    margin: 0 auto;
}
.red{
    color:#ff2759;
}
.red1{
    color:#ff2759;
    font-size: 22px;
}
h3 > span{
    color: gray;
}
form{
    
    padding: 0 20px;
}
.firseg{
    display: flex;
    flex-direction: row;
}
.form-select1{
    width: 120px;
    margin-right: 10px;
    border: 1px solid rgb(203, 200, 200);
    border-radius: 5px;
    color: rgb(142, 139, 139) !important;
    padding-left: 6px;
    padding-right: 6px;
}
.seg > label > span{
    font-size: 24px;
    color: #ff2759;
}
.seg > label {
    font-size: 16px;
    color: rgb(142, 139, 139) !important;
}
.form-select{
    color: rgb(142, 139, 139) !important;
}
.form-group > .resumeheading{
    font-size: 19px;
    color: #ff2759;
    margin-top: 20px;
    margin-bottom: 10px;
}
.twobuttons{
    
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
}
.twobuttons > .button3{
background-color: transparent;
padding: 5px 20px;
border: 1px solid gray;
margin-right: 10px;
margin-bottom: 20px;
color: black;
}
/* media query */
@media (min-width: 320px) and (max-width:450px) {
    .eleven{
        max-width: 100wh;
    }
    .eleven-content{
        max-width: 90%;
        margin: 0 auto;
    }
    .form-select1{
        width: 80px;
        margin-right: 10px;
        border: 1px solid rgb(203, 200, 200);
        border-radius: 5px;
        color: rgb(142, 139, 139) !important;
        padding-left: 6px;
        padding-right: 6px;
    }
    .twobuttons{
        align-items: center;
    }
    .twobuttons > .button3{
        font-size: 18px;
        margin-bottom: 30px;
}
}

@media (min-width: 451px) and (max-width:780px) {
    .eleven-content{
        max-width: 90%;
        margin: 0 auto;
    }
}


@media (min-width: 781px) and (max-width:1050px) {
    .eleven-content{
        max-width: 90%;
        margin: 0 auto;
    }
}

/* media query */
/* --------------------------------- */
.navbar{
    width: 80%;
    margin: 10px auto;
    
}
.form-inline1 {
    display: flex;
    flex-direction: column;
    /* background-color: #a81437; */
    max-width: 30% !important;
    text-align: center;
}
.form-inline1 > .right1 {
    margin-bottom: 5px;
}
.form-inline1 > .right1 > i{
    width: 33px;
    height: 33px;
    border: 1px solid black !important;
    border-radius: 25px;
    text-align: center;
 padding-top: 8px;
 margin-right: 5px;
    
    }
    .form-inline1 > .right1 > i:hover{
color: #ff2759;
border: 1px solid  #ff2759 !important;
    }
    .collapse > ul{
        margin-left: 40px;
    }
    .collapse > ul > li{
        margin-left: 10px;
        font-size: 16px;
    }
    .right2{
        margin-top: 10px;
        font-size: 13px;
    }
    .right2 > span{
        color: gray;
    }
    .right2{
        color: #ff2759;
    }
    .nav-link:hover{
        color: #ff2759 !important;
    }
    .navbar-brand:hover{
        color: #ff2759 !important;
    }

    /* media query */
@media (min-width: 320px) and (max-width:450px) {
    .form-inline1 > .right1{
        display: none;
    }
    .form-inline1 > .right2{
        width: 100% !important;
    }
    .form-inline1{
        max-width: 100% !important;
        margin-left: -5px !important;
        font-size: 25px !important;
    }

.collapse > ul{
    margin-left: -5px;
}
.collapse > ul > li{
    text-align: center;
}
}


@media (min-width: 451px) and (max-width:780px) {
    .form-inline1 > .right1{
        display: none;
    }
    .form-inline1 > .right2{
        width: 100% !important;
    }
    .form-inline1{
        max-width: 100% !important;
        margin-left: -5px !important;
        font-size: 25px !important;
    }

.collapse > ul{
    margin-left: -5px;
}
.collapse > ul > li{
    text-align: center;
}
}


@media (min-width: 781px) and (max-width:1050px) {
    .form-inline1 > .right1{
        display: none;
    }
}

/* media query */
/* --------------------------------- */